SpliceComponent input-dim=40 left-context=10 right-context=10 const-component-dim=0
ConvolutionComponent in-height=40 in-width=21 in-channel=1 kernel-height=40 kernel-width=4 stride=1 group=128 out-height=1 out-width=18 learning-rate=0.02 param-stddev=0.01 bias-stddev=0.5 weight-decay=0.0005 momentum=0.9
RectifiedLinearComponent dim=2304
ConvolutionComponent in-height=1 in-width=18 in-channel=128 kernel-height=1 kernel-width=3 stride=1 group=128 out-height=1 out-width=16 learning-rate=0.02 param-stddev=0.01 bias-stddev=0.5 weight-decay=0.0005 momentum=0.9
RectifiedLinearComponent dim=2048
ConvolutionComponent in-height=1 in-width=16 in-channel=128 kernel-height=1 kernel-width=3 stride=1 group=256 out-height=1 out-width=14 learning-rate=0.02 param-stddev=0.01 bias-stddev=0.5 weight-decay=0.0005 momentum=0.9
RectifiedLinearComponent dim=3584
ConvolutionComponent in-height=1 in-width=14 in-channel=256 kernel-height=1 kernel-width=3 stride=1 group=256 out-height=1 out-width=12 learning-rate=0.02 param-stddev=0.01 bias-stddev=0.5 weight-decay=0.0005 momentum=0.9
MaxpoolComponent in-height=1 in-width=12 in-channel=256 pool-height-dim=1 pool-width-dim=2 pool-channel-dim=1
RectifiedLinearComponent dim=1536
ConvolutionComponent in-height=1 in-width=6 in-channel=256 kernel-height=1 kernel-width=3 stride=1 group=512 out-height=1 out-width=4 learning-rate=0.02 param-stddev=0.01 bias-stddev=0.5 weight-decay=0.0005 momentum=0.9
RectifiedLinearComponent dim=2048
ConvolutionComponent in-height=1 in-width=4 in-channel=512 kernel-height=1 kernel-width=3 stride=1 group=512 out-height=1 out-width=2 learning-rate=0.02 param-stddev=0.01 bias-stddev=0.5 weight-decay=0.0005 momentum=0.9
RectifiedLinearComponent dim=1024
FullyConnectedComponent input-dim=1024 output-dim=4096 learning-rate=0.02 param-stddev=0.01 bias-stddev=1 weight-decay=0.0005 momentum=0.9
RectifiedLinearComponent dim=4096
DropoutComponent dim=4096 dropout-proportion=0.5 dropout-scale=0.0
FullyConnectedComponent input-dim=4096 output-dim=4096 learning-rate=0.02 param-stddev=0.01  bias-stddev=1 weight-decay=0.0005 momentum=0.9
RectifiedLinearComponent dim=4096
DropoutComponent dim=4096 dropout-proportion=0.5 dropout-scale=0.0
FullyConnectedComponent input-dim=4096 output-dim=3454 learning-rate=0.02 param-stddev=0 bias-stddev=0 weight-decay=0.0005 momentum=0.9
SoftmaxComponent dim=3454
